page-creategroup {
    
    ion-content{
        --ion-background-color: color($colors, primary)
    }

    .no-item{
        text-align: center;
        color: grey;
    }

    .right-align-small-text{
        text-align: left;
        font-size: smaller;
    }
}