<ion-content class="bg-primary-style">
    <h2 class="std-text-color" style="text-align: center;">New Group</h2>
    <h3 class="std-text-color">Enter New Group Informaiton</h3>
    <p *ngIf="formInValid" class="error-text">Please complete required fields(*)</p>

    <form [formGroup]="groupData">

        <ion-item no-padding>
            <ion-input formControlName="name" type="text" placeholder="Name*"
                [class.invalid-input]="groupData.controls.name.invalid && groupData.controls.name.dirty">
            </ion-input>
        </ion-item>

        <ion-item no-padding>
            <ion-textarea formControlName="description" type="text" placeholder="Description*"
                [class.invalid-input]="groupData.controls.description.invalid && groupData.controls.description.dirty">
            </ion-textarea>
        </ion-item>

        <ion-item no-padding>
            <ion-textarea formControlName="goal" type="text" placeholder="Goal*"
                [class.invalid-input]="groupData.controls.goal.invalid && groupData.controls.goal.dirty">
            </ion-textarea>
        </ion-item>
    </form>
    <h3 class="std-text-color">Enter New Group Milestones</h3>
    <ion-card>
        <ion-item>
            <ion-grid no-padding>
                <ion-row>
                    <ion-col col-9>
                        <p style="text-align: center;">Name</p>
                    </ion-col>
                    <ion-col col-3>
                        <p style="text-align: right;">Order</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <h3 class="no-item" style="text-align: center;" *ngIf="milestones.length === 0">No milestones added! Add some
            below!</h3>

        <ion-item *ngFor="let item of milestones; index as i">
            <button ion-button clear item-start icon-only (click)="removeMilestone(i)">
                <ion-icon name="close" color="kred"></ion-icon>
            </button>
            <ion-grid no-padding>
                <ion-row>
                    <ion-col col-9>
                        <p>{{item.name}}</p>
                    </ion-col>
                    <ion-col col-3>
                        <p style="text-align: right;">{{item.order}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

    </ion-card>

    <form [formGroup]="milestoneData">
        <ion-grid>
            <ion-row>
                <ion-col col-9>
                    <ion-item no-padding>
                        <ion-input formControlName="name" type="text" placeholder="Name"
                            [class.invalid-input]="milestoneData.controls.name.invalid && milestoneData.controls.name.dirty">
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-3>
                    <ion-item no-padding>
                        <ion-input formControlName="order" type="number" placeholder="Order"
                        [class.invalid-input]="milestoneData.controls.order.invalid && milestoneData.controls.order.dirty">
                    </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col>
                    <p *ngIf="milestoneInvalid" class="error-text">Milestone must not exceed 50 characters and order must be between 1-99</p>
                    <button ion-button block class="bg-secondary-style std-text-color" (click)="addMilestone()">Add</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>



    <!--Button for adding and canceling group-->
    <div padding>
        <button ion-button block class="bg-secondary-style std-text-color" (click)="setupGroup()">Create Group</button>
        <button ion-button block class="bg-danger-style std-text-color" (click)="dismissGroup()">Cancel</button>
    </div>

</ion-content>