<ion-header>
  <ion-navbar color="primary">
    <ion-title (click)="showGroupOptions()">
      {{curGroup.name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="showGroupOptions()" *ngIf="isuserAdmin()">
        <ion-icon name="settings" class="ion-icon-large"></ion-icon>
      </button>
      <button ion-button (click)="showGroupInfo()">
        <ion-icon name="people" class="ion-icon-large"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--Display for non members-->
  <div no-padding *ngIf="notAMember">
    <ion-card no-padding class="card-strd-style">
      <ion-card-content padding>
        <h2>Name</h2>
        <p>{{curGroup.name}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card no-padding class="card-strd-style">
      <ion-card-content padding>
        <h2>Description</h2>
        <p>{{curGroup.description}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card no-padding class="card-strd-style">
      <ion-card-content padding>
        <h2>Goal</h2>
        <p>{{curGroup.goal}}</p>
      </ion-card-content>
    </ion-card>
    <button ion-button block class="bg-secondary-style" (click)="joinGroup()">Join Group</button>
  </div>
  <!-- Display for members-->
  <ion-card>
    <ion-textarea class="ion-textarea-style" maxlength="1000" rows="5" placeholder="What's on your mind?"
      [(ngModel)]="postText" (ionInput)="updateCount($event)"></ion-textarea>
    <ion-grid>
      <ion-row style="height:40px">
        <ion-col col-10>
          <p style="margin-top: 15px; text-align: right;">{{ 1000 - postText.length }}</p>
        </ion-col>
        <ion-col col-2 align-right>
          <button class="post_button_style" ion-button float-right (click)=addPost()>
            <p class="post_button_text">Post</p>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
  <h3 class="no-item" style="text-align: center;" *ngIf="posts.length === 0">No posts in group yet :(</h3>
  <ion-card *ngFor="let post of posts">

    <ion-item (click)=postSelected(post)>
      <ion-avatar item-start>
        <ion-icon name="person" class="ion-icon-large"></ion-icon>
      </ion-avatar>
      <strong>{{post.user}}</strong> @{{post.username}}
    </ion-item>

    <ion-card-content (click)=postSelected(post)>
      <p readonly>{{post.post}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-note>
          Posted {{this.shared.getDisplayDate(post.creationDate)}} ago
        </ion-note>
      </ion-col>
    </ion-row>
    

  </ion-card>
  <ion-infinite-scroll (ionInfinite)="continuePosts($event)">
    <ion-infinite-scroll-content loadingspinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<!-- Side Menu to display user information-->
<ion-menu side="right" [content]="groupMenu" type="overlay" color="primary">
  <ion-content class="bg-primary-style">
    <ion-card no-padding class="card-strd-style">
      <ion-card-content padding>
        <h2>Name</h2>
        <p>{{curGroup.name}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card no-padding class="card-strd-style">
      <ion-card-content padding>
        <h2>Description</h2>
        <p>{{curGroup.description}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card no-padding class="card-strd-style">
      <ion-card-content padding>
        <h2>Goal</h2>
        <p>{{curGroup.goal}}</p>
      </ion-card-content>
    </ion-card>
    <button ion-item details-push>
      <h3>Members</h3>
    </button>
    <button ion-item details-push>
      <h3>Milestones</h3>
    </button>
  </ion-content>
</ion-menu>

<ion-nav #groupMenu [root]="GroupPage"></ion-nav>