<ion-header>
  <ion-navbar color="primary">
    <ion-title (click)="showGroup()">
      {{post.groupName}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="showPostOptions()" *ngIf="userOwnsPost()">
        <ion-icon name="more" class="ion-icon-large"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!-- Post-->
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="person" class="ion-icon-large"></ion-icon>
      </ion-avatar>
      <strong>{{post.user}}</strong> @{{post.username}}
    </ion-item>

    <ion-card-content>
      <p readonly>{{post.post}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small (click)="likePost()">
          <ion-icon name="heart-outline" class="ion-icon-heart-like" *ngIf="memberLiked === 0"></ion-icon>
          <ion-icon name="heart" class="ion-icon-heart-like" *ngIf="memberLiked === 1"></ion-icon>
          <div>{{likeCount}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{commentCount}}</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          Posted {{this.shared.getDisplayDate(post.creationDate)}} ago
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-row no-padding style="height: 45px;">
      <ion-col col-10>
        <ion-textarea style="border-width: 2px;" [(ngModel)]="postReply" maxlength="1000" rows="2" placeholder="Reply to {{post.username}}">
        </ion-textarea>
      </ion-col>
      <ion-col col-2 align-right>
        <button class="post_button_style" ion-button float-right (click)=replyToPost()>
          <p class="post_button_text">Reply</p>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <!-- Comments -->
  <ion-card *ngFor="let comment of comments">

    <ion-card-content no-padding>
        <ion-row no-padding>
          <ion-col col-1><ion-icon name="person" class="ion-icon-medium"></ion-icon></ion-col>
          <ion-col col-11><strong>{{comment.username}}</strong> {{comment.comment}}</ion-col>
        </ion-row>
      <!-- Sub Comments-->
      <!-- <div *ngFor="let sc of getSubComments(comment.getId())" class="subcomment">
        <ion-icon name="person" class="ion-icon-small"></ion-icon> {{sc.memberName}} {{sc.commentData}}
      </div>
      <ion-row class="reply-bg-style" no-padding>
        <ion-col col-9>
          <ion-textarea placeholder="Reply to {{comment.username}}" name="comment_reply" class="reply-style"></ion-textarea>
        </ion-col>
        <ion-col align-self-right text-right col-3>
          <button ion-button block small class="reply-style">Reply</button>
        </ion-col>
      </ion-row> -->
    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="continueComments($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>