// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.bg-primary-style{
    background-color: color($colors, primary);
}

.bg-secondary-style{
    background-color: color($colors, secondary);
}

.bg-danger-style{
    background-color: color($colors, danger);
}

.std-text-color{
    color: white;
    font-weight: bold;
}

.error-text{
    color: color($colors, danger);
}

.invalid-input{
    border-bottom: 2px solid color($colors, danger);
}

.reply-style{
    height: 25px;
    font-size: 12pt;
}
.reply-bg-style{
    border-color: grey;
    border-width: 1px;
}

.no-item{
    text-align: center;
    color: grey;
}

  
h1{
    font-size: 39pt;
    font-weight: bold;
}
h2{
    font-size: 20pt;
}

h3{
    font-size: 14pt;
    color: gray;
}

p{
    font-size: 12pt;
    word-wrap: normal;
    white-space: normal;
}

.subcomment{
    margin-left: 30px;
    color: grey;
}

.post-title-style{
    font-size: 12pt;
    color: black;
}

.footer-style{
    font-size: 6pt;
    color: gray;
}
  
.align-text-middle {
    display: flex;
    align-items: center;
}

.searchbar{
    background-color: color($colors, primary);
}

.card-strd-style{
    border-radius: 10px;
}

.card-cont-style{
    background-color: color($colors, primary);
}

.ion-icon-large{
    font-size: 50px;
    color: color($colors, secondary);
}

.ion-icon-medium{
    font-size: 30px;
    color: color($colors, secondary)
}

.ion-icon-small{
    font-size: 20px;
    color: color($colors, secondary)
}

.ion-icon-heart-like{
    color: red;
}

.ion-textarea-style{
    border-width: medium;
    height: 70px;
    margin-left: 5px;
    margin-top: 5px;
}