<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Group Search
    </ion-title>
  </ion-toolbar>
  <ion-searchbar 
    class="searchbar" 
    placeholder="Search for groups"
    [(ngModel)]="search_term"
    (ionInput)="onInput($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <p *ngIf="groups.length === 0" class="no-item">No groups found :(</p>
  <button ion-item details-push *ngFor="let group of groups" (click)="groupSelected(group)">
    <ion-avatar item-start>
      <ion-icon name="people" class="ion-icon-large"></ion-icon>
    </ion-avatar>
    <h2>{{group.name}}</h2>
    <p>{{group.description}}</p>
  </button>
</ion-content>