<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      My Groups
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="createGroup()">
        <ion-icon name="add" class="ion-icon-large"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!--<ion-searchbar class="searchbar" placeholder="Search my groups"></ion-searchbar>-->
</ion-header>

<ion-content no-padding>

  <p *ngIf="groups.length === 0" class="no-item">Not a member of any groups :(</p>

  <button ion-item details-push *ngFor="let group of groups" (click)="groupSelected(group)">
    <ion-avatar item-start>
      <ion-icon name="people" class="ion-icon-large"></ion-icon>
    </ion-avatar>
    <h2>{{group.name}}</h2>
    <p>{{group.description}}</p>
  </button>

</ion-content>