<ion-header>

  <ion-toolbar>

    <ion-title class="login-title-text header-section">
      Anchr
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-item class="login-credentials">
    <ion-input placeholder="Username or Email"></ion-input>
  </ion-item>

  <ion-item class="login-credentials">
    <ion-input placeholder="Password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="loginCommand()">Login</ion-button>
  <ion-button expand="block" (click)="signupCommand()">Signup</ion-button>

</ion-content>